html,
body {
    height: auto;
    margin: 0;
}

h3 {
    margin: 5px 0px 0px 5px;
    min-height: 30px;
}

h4 {
    margin: 5px;
    min-height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


/* Change the link color on hover */

li a:hover {
    background-color: #555;
    color: white;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    font-size: 14px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    color: white;
}

.btn {
    background-color: #555;
    color: white;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
    float: right;
}

.btn2 {
    background-color: #555;
    color: white;
    margin-left: 10px;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 5px;
}

.btn3 {
    background-color: #555;
    color: white;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 216px;
    float: right;
}

.btnDel {
    background-color: #ff6666;
    color: white;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 5px;
}

.btnDel:hover {
    background-color: red;
    color: black;
}

.left {
    /* display: flex;*/
    float: left;
    width: 270px;
    clear: right;

}

.right {
    margin-left: 5px;
    float: left;
    width: 895px;
    overflow: hidden;
}
.of{
    width: 100%;
    overflow: scroll;
}

.editTable {
    width: 600px;
    margin-left: 80px;
}

.msg {
    margin: 20px 0 0 100px;
    width: 100%
}

.action {
    float: right;
    width: 200px;
    margin: 10px 5px;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 5px;
}

.header {
    height: 100px;
    width: 1170px;
    text-align: center;
    background: grey;
    color: white;
    font-size: 30px;
    margin: 15px auto;
}

.sec1 {
    clear: both;
}

.footer {
    height: 70px;
    background-color: gray;
    color: white;
    text-align: center;
    position: unset;
    clear: both;
    width: 1170px;
    margin: 10px auto;
}

.nav {
    background-color: #f1f1f1;
    list-style-type: none;
    text-align: left;
    margin: 15px 0 0 0px;
    width: 90%;
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

.page {
    padding: 10px 20px 0px;
    /*border-top: dotted 1px #CCC;*/
    margin: 20px 0 0 0;
}

.tle {
    margin: 5px 0 5px 280px;
    float: left;
}

.active {
    background-color: grey;
    margin: 0 2px 0 2px;
    font-size: 14px;
    border-radius: 5px;
}

.disabled {
    background-color: #f1f1f1;
}

.disabled:hover {
    background-color: #f1f1f1;
    color: black;
}
.lbc{
    background-color:   grey;
    margin: 0 90px 20px 170px;
    border-radius: 10px;
    color: white;
    width: 400px;
}


/* For Gallery page*/


.uploadbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 25px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    border-radius: 5px;
}

/*Registration*/


/* Full-width input fields */

hr {
    width: 100%;
    /*margin-left: 0px;*/
}

label {
    font-weight: bold;
}

.image {
    margin-right: 0px;
    margin-left: 15px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 190px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 5px;
}

.registerbtn:hover {
    opacity: 1;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


/*Album Form*/

.hideDiv {
    background: green;
    width: 400px;
    margin: 5px auto;
    color: #fff;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table td.label {
    text-align: right;
}

table tr>td {
    padding: 5px;
}

.box {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
}


/* Full-width input fields */

input[type=text],
input[type=password],
input[type=email],
input[type=number],
select {
    width: 80%;
    height: 30px;
    padding: 2px;
    box-sizing: border-box;
    margin: 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}

input[type=file] {
    margin: 4px 0;
    display: block;
}


/* Overwrite default styles of hr */



.design {
    float: left;
    width: 100px;
    height: 95px;
    border-radius: 50%;
    margin: 3px 0 0 5px;
}


/*Album Show*/

div.gallery {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 150px;
}

div.desc {
    padding: 10px;
    /*text-align: center;*/
}

.page-title {
    margin: 0 0 15px 0;
}

.login {
    float: right;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #00ff40;
    margin: -5px 5px 0 0;
    
}

.login:hover {
    opacity: 1;
    color: white;
}